# B"H

In [1]:
import numpy as np
import pandas as pd

from google.oauth2 import service_account

from google.cloud import bigquery
from google.cloud import storage

from pandas_gbq import gbq

In [2]:
credentials = service_account.Credentials.from_service_account_file(
    '/home/baruch/app-keys/data-science-course-a1544568093e.json',
)

In [3]:
configuration = {
   'query': {
     "useQueryCache": False
   }
}

In [4]:
project_id  = "data-science-course-226116"

In [22]:
sql = """
SELECT * FROM `data-science-course-226116.sql_lessons.departments`
"""

In [23]:
df = gbq.read_gbq(
    sql, 
    configuration = configuration,
    project_id    = project_id, 
    credentials   = credentials,
    dialect       = 'standard'
)

In [24]:
df.head()

   id          name  branch_id
0   1   Engineering        3.0
1   2            HR        3.0
2   3  Tech Support        NaN
3   4            CS        1.0
4   5           COO        9.0

In [25]:
df.describe()

             id  branch_id
count  5.000000   4.000000
mean   3.000000   4.000000
std    1.581139   3.464102
min    1.000000   1.000000
25%    2.000000   2.500000
50%    3.000000   3.000000
75%    4.000000   4.500000
max    5.000000   9.000000